* {
    padding: 0;
    margin: 0;
}

main {
    width: 100%;
}

.body {
    margin: 10px;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #528d9be0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

#title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 8px;
}

#intro {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size:larger;
    text-align: left;
    word-wrap: normal;
    max-width: 500px;   
}

.projects_heading {
    text-align: center;
    padding-top: 10px;
}

iframe {
    background-color: white;
}

.iframe { 
    padding-top: 30px;
}

ul {
    font-weight: bold;
}

.gsdimg {
    padding-top: 30px;
}


